<form (submit)="guardarCambios()" [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput  [formControl]="this.form.controls.titulo">
        <mat-error>{{obtenerErrorCampoTitulo()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha Lanzamiento</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="this.form.controls.fechaLanzamiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{obtenerErrorCampoFechaLanzamiento()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tráiler</mat-label>
        <input matInput  [formControl]="this.form.controls.trailer">
    </mat-form-field>

    <div>
        <app-input-img 
        [urlImagenActual]="modelo?.poster"
        titulo="Foto de la Pelicula" (archivoSeleccionado)="archivoSeleccionado($event)"  ></app-input-img>
    </div>

    <h4>Seleccione los Géneros</h4>

    <app-selector-multiple [Seleccionado]="generosSeleccionados" [NoSeleccionado]="generosNoSeleccionados"></app-selector-multiple>

    <h4>Seleccione los Cines</h4>

    <app-selector-multiple [Seleccionado]="cinesSeleccionados" [NoSeleccionado]="cinesNoSeleccionados"></app-selector-multiple>

    <h4>Seleccione los Actores</h4>

    <app-autocomplete-actores [actoresSeleccionados]="actoresSeleccionados"></app-autocomplete-actores>


    <div class="contenedor-botones">
        <button mat-flat-button type="submit" [disabled]="form.invalid" >Guardar Cambios</button>
        <a mat-stroked-button routerLink="/">Cancelar</a>        
    </div>


</form>