<h1>Datos Peliculas</h1>

@for( pelicula of peliculas; track $index){
  <div class="contenedor-peliculas">
    <div style="display: flex; flex-direction: row; gap: 10px">
      <div>
        <img [ngSrc]="pelicula.poster" alt="" [priority]="$index === 0" width="169" height="250">
      </div>
      <div>
        <p>{{pelicula.titulo | uppercase}}</p>
        <p>{{pelicula.fechaLanzamiento | date:'dd-MMM-yyyy'}}</p>
        <p>{{pelicula.precio | currency}}</p>
      </div>
    </div>
  </div>

}