<h1>Actores</h1>
<button mat-flat-button routerLink="/actores/crear">Crear Actores</button>
<button mat-flat-button routerLink="">Cancelar</button>

<table mat-table [dataSource]="listaActores" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef> fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fechanacimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef> foto </th>
        <td mat-cell *matCellDef="let element"> 
        <img src="{{element.foto}}" alt="foto" style="height: 200px;">  
        </td>
    </ng-container>

    <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> accion </th>
        <td mat-cell *matCellDef="let element"> 
        <a mat-flat-button routerLink="/actores/editar/{{element.id}}"> Editar</a>
        <button mat-flat-button style= "Background-color: red">Borrar</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnaMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnaMostrar;"></tr>
</table>

