<form [formGroup]="form" (submit)="guardarCambios()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput  [formControl]="this.form.controls.nombre">
        <mat-error>{{obteneMensajeError()}}</mat-error>
    </mat-form-field> 

    <h4>Seleccione la ubicacion del cine</h4>

    <app-mapa [coordenadasIniciales]="coordenadasIniciales" 
    (CoordenadaSeleccionada)="coordenadaSeleccionada($event)"></app-mapa>
    
    <div class="acciones">
        <button mat-flat-button type="submit" [disabled]="form.invalid">Guardar Cambios</button>
        <a mat-stroked-button routerLink="/cines">Cancelar</a>
    </div>
</form>